// Variables
@import 'variables';

// Fonts
@import "~@fontsource/open-sans/index.css";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~react-datepicker/dist/react-datepicker.css";

@import '../../vendor/jordenpowleywebdev/laravel-components/dist/scss/app.css';

@import 'bootstrap';

$borderRadius: 4px;

#widget {
    height: 100vh;
    background: $dark;

    & > .col-12 {
        height: 100%;

        #widget-content-container {
            display: block;
            border: 1px solid $white;
            border-radius: $borderRadius;
            overflow-y: auto;
            background: $white
        }
    }
}
